<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/event-logo.png" alt="logo" class="nav-logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form
        class="d-flex bg-white rounded-pill align-items-center px-3 py-1"
        id="search-form"
        role="search"
      >
        <i class="fas fa-filter"></i>

        <input
          class="form-control me-2 outline-0"
          type="search"
          placeholder="Search all"
          aria-label="Search"
          id="search-input"
        />
        <button
          class="border-0 outline-0 bg-transparent"
          id="search-btn"
          type="button"
        >
          <i class="fas fa-search"></i>
        </button>
      </form>
      <ul class="navbar-nav gap-3 ms-auto justify-content-end mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../index.html"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Event Analytics</a>
        </li>
        <a href="../auth.html" class="nav-link">
          <button
            class="btn sign-in-btn btn-dark d-flex gap-1 align-items-center justify-content-center"
          >
            <i class="fas fa-bolt"></i>Sign In
          </button>
        </a>
      </ul>
    </div>
  </div>
</nav>
