main#main {
  padding-top: 5em;
}

h3.search-sidebar-title {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.filter-item-title {
  font-size: 1em;
  margin-bottom: 0.5em;
  color: var(--orange);
}

.filter-item-content {
  gap: 0.5em;
}

.filter-option input:checked {
  accent-color: var(--dark-cyan);
}
.filter-option input:checked + label {
  color: var(--dark-cyan);
}

.search-results {
  height: 75vh;
  max-height: 1000px;
  overflow-y: scroll;
  scrollbar-width: thin !important;
  scrollbar-color: var(--dark-cyan) #f1f1f1 !important;
  align-items: center !important;
}

div.search-event-card {
  flex-direction: row !important;
  justify-content: space-between !important;
  gap: 1em;
  background-color: #fff !important;
  min-height: 227px;
}

.search-img-container {
  width: 50%;
  display: flex;
  align-items: center;
}

div.search-event-card .card-body {
  width: 50%;
}
div.search-event-card img {
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.apply-filter {
  background-color: #b1761f;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 0.8em;
  padding: 0.5em 0em;
}

.reset-btn {
  background-color: var(--light-cyan);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 0.8em;
  padding: 0.5em 0em;
}

.search-sidebar-btns {
  display: none;
}
.filter-close-btn {
  outline: none;
  height: fit-content;
  border: none;
  background-color: transparent;
  display: none;
}

.show-filter-btn {
  display: none;
}

.search-sidebar-content {
  display: flex;
  padding-top: 2em;
  height: 90%;
}

@media (max-width: 768px) {
  div.search-event-card {
    flex-direction: column !important;
    justify-content: center !important;
    gap: 0.5em;
  }
  div.search-event-card .card-body {
    width: 100%;
  }
  .search-img-container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .search-sidebar-btns {
    display: block;
  }
  .search-results {
    max-height: none;
    height: auto;
  }
  .map-panel {
    display: none;
  }

  .filter-panel {
    position: absolute;
    z-index: 300;
    background-color: #fff;
  }

  .filter-panel.active {
    height: 100%;
  }
  .filter-close-btn.active {
    display: block;
  }

  .show-filter-btn.active {
    display: block;
  }
  h3.search-sidebar-title {
    margin-bottom: 0em;
  }

  .search-sidebar-content {
    display: none;
  }

  body.overflow-hidden {
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  div.search-event-card {
    flex-direction: column !important;
    justify-content: center !important;
    gap: 0.5em;
  }
  div.search-event-card .card-body {
    width: 100%;
  }
  .search-img-container {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
