#sidebar {
  height: 100vh;
  color: black !important;
  border-right: 1px solid #ccc;
}

#sidebar h4 {
  margin-bottom: 1.5rem;
  text-align: left;
}

#sidebar .nav-link {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
  color: black;
}

#sidebar .nav-link:hover {
  background-color: #b1761f;
  text-decoration: none;
  color: white !important;
}

#sidebar .nav-link.active {
  background-color: #f5a42c;
  font-weight: bold;
  color: white !important;
}
