@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Resetting default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-cyan: #2a6562;
  --light-cyan: #217873;
  --orange: #b1761f;
  --light-orange: #f5a42c;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* Preloader styles */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Background color */
  z-index: 9999; /* Ensure it appears above all other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-in-out {
  animation: fadeEffect 2s infinite alternate ease-in-out;
  width: 80px; /* Adjust size as needed */
}

@keyframes fadeEffect {
  0% {
    opacity: 0.2;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*SECTION STYLES*/
section {
  padding: 2em 0;
}

.section-title {
  font-size: 30px !important;
  font-weight: 600;
  margin-bottom: 1em;
  color: var(--orange);
}

.section-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background-color: var(--light-orange);
  margin-top: 10px;
  border-radius: 20px;
}

/*HERO STYLE*/
.hero {
  padding-top: 5em;
}
.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}

.carousel-indicators button.active {
  background-color: var(--orange) !important;
}

/*CATEGORIES STYLES*/
.category-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.category-item {
  max-width: 142px;
}
.category-img {
  width: 142px;
  height: 142px;
  margin: auto;
  border-radius: 50%;
}

/*FIND EVENTS SECTION*/
.filter-button {
  cursor: pointer;
}
.filter-button.active {
  border-bottom: 2px solid var(--light-cyan);
}
.find-events-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

.event-card {
  border-radius: 10px;
  font-size: 0.8rem;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1em;
  background-color: #efeeee !important;
}

.event-card img {
  max-height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.event-card .btn {
  border-radius: 50%;
  padding: 5px 10px;
}

.event-card-title {
  font-size: 1.5em !important;
  font-weight: 600;
}

div.event-details {
  gap: 0.5em;
  margin-bottom: 0.5em;
}

div.event-details p {
  margin-bottom: 0.2em;
}
.event-time,
.event-location {
  font-size: 0.9em;
}

div.card-body {
  padding: 0em;
  line-height: 1em;
}
.card-description {
  font-size: 1.1em;
  font-weight: 500;
}

@media (max-width: 768px) {
  img.carousel-img {
    width: 150% !important; /* Zoom in to remove the orange parts */
    margin-left: -25%;
  }

  .section-title {
    font-size: 20px !important;
  }
  .category-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .find-events-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .event-card {
    padding: 0.5em;
  }

  ul.event-list{
    overflow-x: scroll;
    justify-content: flex-start;
    padding: 0.5em 0 !important;
  }
  .filter-button{
    font-size: 0.8em;
  }
}

@media (max-width: 570px) {
  img.category-img {
    width: 75px;
    height: 75px;
  }

  .category-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .category-container p {
    font-size: 12px;
  }
  .find-events-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .filter-button{
    font-size: 0.6em;
  }
}
